body{
    height: auto;
}
h1{
    color: blueviolet;
    padding-left: 10px;
}

.title{
    padding-left: 25px;
    color: #33333f;
    font-size: 20px;
    padding: 2px;
    font-weight: 600;
}

.topic{
    padding-left: 25px;
    padding-bottom: 15px;
    color: #33333f;
}

.list{
    color: #33333f;
    font-size: 20px;
    margin-left: 30px;
    padding: 2px;
}

.sub-topic{
    color: #33333f;
    font-size: 20px;
    margin-left: 30px;
    padding: 2px;
    list-style-type: decimal;
    font-weight: 600;
}

.text{
    font-weight: 400;
    padding-right: 25px; 
}